

.style-header{
	float:left !important;
	display:block;
	padding:1px;
	 transition:
      box-shadow 0.5s ease,
      padding 0.5s ease
    ;
	
}

.style-sideMenu{
	height:100%;
	float: right;
	margin-left:10px;
	margin-top:0px;
	text-align:rtl;
}

.style-container{
	
	clear:both;
	overflow:hidden;
	
		
}

.style-sideSupport{
	
	width:260px;
	min-height:500px;
	float:right;
	margin-left:3px;
	
	
	
}
.style-content{
	width:50%;
	float:right;
	margin-right:30px;
		
}




#topM{
		display:none;
	}
	
@media (max-width: 700px) {
	.style-content{
		margin-right:20px !important;	
		width:90%;
}
	.style-sideSupport{
		width:0px !important;
		height:0px !important;
		display:none !important;
	}
	

    #sideM {
        display:none !important;
    }
	#topM{
		display:inline !important;
	}
	
}