 .header{
		width: 100%;
		 height:50px;}
body{
	background:#DADADA;
	
}

img{
	padding-top:20px;
}		 
 .content{
		margin: 5px auto 5px;
		width:90%;
		padding:10px;
		max-height:500px;
		height:80%;
		clear:both;
		}

.style-mainItems{
		height:90%;	
	
}
.style-mainMenuL{
		padding-top:100px;
		text-align: center;
		vertical-align:middle !important;
		margin:0px 10px 0px 0px;
}
.style-mainMenuR{
		text-align: center;
		vertical-align:middle;
		margin:0px 10px 0px 10px;
}
		

		
/*-------------------*/
/* 
@media only screen and (min-device-width: 200px) {
    .style-mainItems{
        height:80px;
    }
} */

@media (max-width: 780px) {
	img{
		display:none;
	}
}